td {
	vertical-align: top;
}

.width-100 {
	width: 100%;
}

blockquote {
	border: thick double #dddddd; //#52b1ae;
	padding: 10px;
}

.description {
	width: 100%;
	font: 0.8rem "Fira Sans" sans-serif; 
}

.keyword-btn {
	@extend .btn;
	@extend .fs-5;
	@extend .mb-4;
	@extend .mb-md-0;
	@extend .mr-2;
	@extend .no-glyph;
	@extend .text-center;
}

.category-btn {
	@extend .keyword-btn;
	@extend .btn-purple;
}

.topic-btn {
	@extend .keyword-btn;
	@extend .btn-blue;
}
