td {
	vertical-align: top;
}

.width-100 {
	width: 100%;
}

blockquote {
	border: thick double #dddddd; //#52b1ae;
	padding: 10px;
}

.description {
	width: 100%;
	font: 0.8rem "Fira Sans" sans-serif; 
}

.keyword-btn {
	@extend .btn;
	@extend .fs-5;
	@extend .mb-4;
	@extend .mb-md-0;
	@extend .mr-2;
	@extend .no-glyph;
	@extend .text-center;
}

.category-btn {
	@extend .keyword-btn;
	@extend .btn-purple;
}

.topic-btn {
	@extend .keyword-btn;
	@extend .btn-blue;
}

.resizable {
  position: relative;
  background: white;
}

.resizable .resizers {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.resizable .resizers .resizer-line {
  position: relative;
}

.resizable .resizers .resizer-line.bottom-line {
  height: 30px;
  border-top: 1px solid #51899C;
  cursor: ns-resize;
}

.resizable .resizers .resizer-line.bottom-line:hover {
  border-top: 1px solid #83bbce;
}
